/*BODY*/
body {
    background-color: white;
    text-align: center;
    font-family: helvetica;
}

/*BUSCADOR*/
.buscador {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    height: 100%;
    outline: 1px solid #000;
    padding: 3px 3px 3px 8px;
}

.boton-lupa {
    margin: 5px;
}

div > input {
  
    border: none;
    outline: none;
    
}


/*TITLE*/

.header {
    color: white; /* Color de texto */
    padding: 10px 0; /* Espaciado interno superior e inferior */
    display: flex; /* Hacer que los elementos del encabezado sean flexibles */
    justify-content: space-between; /* Espaciado uniforme entre elementos */
    align-items: center; /* Centrar verticalmente los elementos */
}

.header-logo img { 
    margin-left: 20px;
    align-self: start;
    padding-right: 50px;
}

.header-nav ul {
    list-style: none;
    padding-left: 50px;
    margin: 0;
}

.header-menu li {
    display: inline;
    margin-right: 20px; /* Espaciado entre elementos del menú */
}

.header-menu-cat a {
    text-decoration: none;
    color: black;
    font-weight:lighter;
}

.header-menu-cat li :hover {
    text-decoration: none;
    color: white;
    font-weight:lighter;
    background-color: grey;
    padding: 10px;
}

.header-menu-cat li {
    display: inline;
    margin-right: 20px; /* Espaciado entre elementos del menú */
}

.header-menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header-menu a:hover {
    text-decoration: underline;
}

/*ELEMENTS*/
.Book { 
    font-family: helvetica; /*Font*/
    font-size: 13px;
    background-color: white;
    border-radius: 5px; 
    border: 1px solid #0000004a;
    width: 170px; /*Dimensions*/
    height: 350px; /*Dimensions*/
    text-align: left;
    cursor: pointer; /*Changes the cursor when hovering over the button*/
    padding: 9px 9px; /*Internal space for button content*/
    white-space: nowrap; /*Avoid text line breaks*/
    overflow: hidden; /*Hides any overflowing text*/
    text-overflow: ellipsis; /*Adds ... to overflowing text*/
    position: relative; /*Necessary for internal span positioning*/
    margin: 5px;
}
.Book span {   
    position: absolute; 
    width: 170px; 
    height: 1px; 
    background-color: #0000004a; 
    top: 246px;
    left: 0;
}
/*Title*/
a {
    font-weight: bold;
}
/*Price*/
b {
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    line-height: 30px;
}
/*Add to cart*/
c {
    color:rgb(0, 0, 255);
}
c:hover {
    font-size: 15px;
    color: rgba(0, 106, 255, 0.723);
}