@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

/*BODY*/
body {
    background-color: white;
    text-align: center;
    font-family: helvetica; /*Font*/
}

/*LOGO*/
.header-logo { 
    margin-right: 20px; 
    vertical-align: middle;  
}

/*MENU*/
.Menu {
    font-weight: bold;
    font-family: helvetica;
    font-size: 16px;
    text-decoration: underline;
    background-color: white;
    border-radius: 5px; 
    border: 1px solid white;
    cursor: pointer;
    padding: 5px 5px;  
}
.Menu:hover {
    background-color: rgba(30, 122, 93, 0.678);
    color: white;
}

/*LITERARY GENRES*/
.LiteraryGenres {
    font-family: helvetica;
    font-size: 16px;
    background-color: white;
    border-radius: 5px; 
    border: 1px solid white;
    cursor: pointer;
    padding: 3px 3px;
    margin: 0px;    
}
.LiteraryGenres:hover {
    background-color: rgba(30, 122, 93, 0.678);
    color: white;
}


/*TITLE*/
.big-title {
    font-size: 27px; 
}

main {
    max-width: 900px; /* Ancho máximo del contenido principal */
    margin: 0 auto; /* Centrar el contenido en la página */
    padding: 20px;
}

.book-details {
    display: flex; /* Establecer el diseño de elementos secundarios en fila */
}

.book-image {
    flex: 1; /* Hace que la imagen ocupe el 50% del ancho disponible */
    margin-right: 20px; /* Espacio entre la imagen y la descripción */
}

.book-image img {
    max-width: 300px;
    height: auto;
}

.s {
    flex: 1;
    margin-left: 20px;
}

.book-options-price {
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    color: rgb(249, 248, 248);
    line-height: 30px;
    background-color: red;
    text-align:center;
    max-width: 100%;
    height: auto;
}

.book-description-gender {
    line-height:2em; /*interlineado*/
    flex: 2; /* Hace que la descripción ocupe el 50% del ancho disponible */
}

.book-description{
    max-width: 100%;
    height: auto;
}
.buy-now {
    margin-top: 20px;
}

/* Estilo del botón de compra */
#comprar {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Cambiar el color del botón cuando se pasa el mouse sobre él */
#comprar:hover {
    background-color: #555;
}

.pBeauty{
    color: blue;
}

.ficha-tecnica-td td:first-child {
    border-right: 1px solid #dddddd;
}


#ver-mas{
    color:blue;
    padding-bottom: 40px;
    
}

#ver-mas:hover{
    text-decoration: underline;
}

table {
    display: flex; /* Hacer que los elementos del encabezado sean flexibles */
    justify-content: space-between; /* Espaciado uniforme entre elementos */
}

/*ficha tecnica---------------------------------------------------------------------------*/
.ficha-tecnica {
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    margin:center;
    position: center;
}

.ficha-tecnica th, .ficha-tecnica td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    position: center;
   
}

.ficha-tecnica th {
    background-color: #f2f2f2;
}

.ficha-tecnica td:first-child {
    border-right: 1px solid #dddddd;
}

/*----------------------------------------------------------------------------------------*/

/*ESTRELLAS DE VALORACION*/

  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: orange;
  }

/*COMPRAR AHORA*/
.compraYa {
    display: flex; /* Hacer que los elementos se muestren en la misma línea */
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: center;
    text-align:center;
}

.compraYa button {
    margin-right: 10px; /* Espaciado entre el botón y las estrellas */
}

/* Estilos para las estrellas de valoración */
.clasificacion {
    display: flex; /* Hacer que las estrellas se muestren en la misma línea */
}

/* Estilos para el botón "Añadir al carrito" */
.compraYa button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.compraYa img {
    margin-right: 10px;
}

/* Cambiar el color del botón cuando se pasa el mouse sobre él */
.compraYa button:hover {
    background-color: #555;
}


/*Etiquetas de genero e isbn*/

.generos {
    padding: 5px;
    background-color: blue;
    color: white;
    align-items:center;
}

.isbn {
    padding: 5px;
    background-color: rgba(225, 233, 58, 0.978);
    color: rgb(0, 0, 0);
    align-items:center;
}


.book { 
    font-family: helvetica; 
    font-size: 13px;
    background-color: white;
    border-radius: 5px; 
    border: 1px solid #0000004a;
    width: 170px; /*Dimensions*/
    height: 350px; /*Dimensions*/
    text-align: left;
    cursor: pointer; 
    padding: 9px 9px; 
    white-space: nowrap; /*Avoid text line breaks*/
    overflow: hidden; 
    position: relative; /*Necessary for internal span positioning*/
    margin: 5px;
}
.book span {   
    position: absolute; 
    width: 170px; 
    height: 1px; 
    background-color: #0000004a; 
    top: 246px;
    left: 0;
}
div > del {
    font-size: 12px;
    color: rgba(17, 166, 17, 0.878);
}
/*Title*/
.bookTitle {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
/*Price*/
.bookPrice {
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    line-height: 30px;
}
/*Add to cart*/
.addToCart {
    color:rgb(0, 0, 255);   
}
.addToCart:hover {
    font-size: 15px;
    color: rgba(0, 106, 255, 0.723);
}


/*Secciones secundarias*/

.secciones-secundarias {
    align-content: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: auto;
}

/*OPINIONEs*/
/* Estilo CSS para la sección de Valoraciones */
.Valoraciones-personas {
    text-align: center; /* Centra el contenido horizontalmente */
}

/* Estilo CSS para las cajas de opinión */
.opinion {
    display: inline-block; /* Hace que las opiniones aparezcan una al lado de la otra */
    width: 300px; /* Ajusta el ancho de las opiniones según tus necesidades */
    margin: 10px; /* Espacio entre las opiniones */
    border: 1px solid #ddd; /* Borde */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilo CSS para las imágenes redondas */
.opinion img {
    width: 50px; /* Ancho igual al alto para hacer la imagen redonda */
    height: 50px; /* Alto igual al ancho para hacer la imagen redonda */
    border-radius: 50%; /* Hace que la imagen sea completamente redonda */
    margin-right: 10px; /* Margen derecho entre la imagen y el nombre */
}

/* Estilo CSS para el nombre */
.opinion h4 {
    margin: 0; /* Elimina el margen superior e inferior del nombre */
}

/* Estilo CSS para la clasificación de estrellas */
.opinion .clasificacion {
    font-size: 24px; /* Tamaño de fuente de las estrellas */
    margin: 10px 0; /* Espaciado superior e inferior */
}

/* Estilo CSS para los radios y etiquetas de estrellas */
.opinion input[type="radio"] {
    display: none; /* Oculta los radios originales */
}

.opinion label {
    cursor: pointer; /* Cambia el cursor al pasar sobre las etiquetas */
}

/* Estilo CSS para la etiqueta de estrella seleccionada */
.opinion input[type="radio"]:checked + label {
    color: gold; /* Cambia el color de la estrella seleccionada a dorado */
}

/*--------------------------------------------------------------------------------*/
/*REVIEW*/


.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
    text-decoration: none;
}

h3 { text-decoration: none;}

* {

	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
    display: inline-block;
    margin-right: 10px; /* Agrega margen derecho para separar los botones */
      
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
    
}

#contact button[type="submit"]:active { 
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
 }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

 #map{
      height: 0;
      overflow: hidden;
      padding-bottom: 22.25%;
      padding-top: 30px;
      position: relative;
  }
/* Estilos para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
    /* Ajusta los estilos para que se adapten a pantallas más pequeñas */
    .header-nav ul {
        padding-left: 0; /* Elimina el relleno izquierdo en el menú */
    }

    .header-menu-cat li {
        margin-right: 10px; /* Reduce el espacio entre elementos del menú */
    }

    .book-details {
        flex-direction: column; /* Cambia el diseño de elementos secundarios a columna */
    }

    .book-image {
        margin-right: 0; /* Elimina el margen derecho de la imagen */
    }

    .book-description {
        margin-top: 20px; /* Agrega espacio entre la imagen y la descripción */
    }

    /* Agrega más ajustes de estilo para pantallas más pequeñas según sea necesario */
}

.comment {
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
    color:#000;
}
.review{
    text-align: center;
    color:#000;
}

/*--------------------------------------------------------------------------------*/
/*HORIZONTAL LINE*/
hr { /*For the horizontal line of separation*/
    border: 1px solid #4d4b4b4c; /* Grosor y color of the line */
    margin: 20px 0; /* Margin superior and inferior */
}

/*--------------------------------------------------------------------------------*/
/*BIG BUTTON*/
.big-button {
    text-decoration: underline;
    border: 2px solid #0000004a;
    border-radius: 5px; /*Customize the level of corner roundness*/
    padding: 20px 20px;
    font-family: helvetica;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: #0d42e35e;
    cursor: pointer;  
}
.big-button:hover {
    background-color: rgba(30, 71, 122, 0.678);
    color: white;
    text-decoration: none;
    padding: 5px;
}



/*Segundo estilo de clasificacion*/
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}

.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}


/*--------------------------------------------------------------------------------*/
/*FOOTER*/
footer {
    margin-top: 40px;
    background-color: #000;
    padding: 20px;
    color: white
}

