@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

/*----------------------------------------------------------------------------------------*/
/*BODY*/
body {
    background-color: white;
    text-align: center;
    font-family: helvetica; /*Font*/
}

/*----------------------------------------------------------------------------------------*/
/*TO CENTER ALL ELEMENTS OF THE PAGE*/
main { 
    max-width: 900px; 
    margin: 0 auto; /* CENTER CONTENT OF PAGE */
    padding: 20px;
}

/*----------------------------------------------------------------------------------------*/
/*MENU*/
.Menu {
    font-weight: bold;
    font-size: 16px;  
    cursor: pointer;
    padding: 3px 3px;
    margin-bottom: 50px;  
}
.background {
    background-color: rgba(30, 122, 93, 0.678);
}


/*----------------------------------------------------------------------------------------*/
/*LOGO*/
.logo{
    align-content: left;
    float: left;
}

/*----------------------------------------------------------------------------------------*/
/*LITERARY GENRES*/
.LiteraryGenres {
    font-family: helvetica;
    font-size: 16px;
    background-color: white;
    border-radius: 5px; 
    border: 1px solid white;
    cursor: pointer;
    padding: 3px 3px;
    margin: 0px;    
}
.LiteraryGenres:hover {
    background-color: rgba(30, 122, 93, 0.678);
    color: white;
}

/*--------------------------------------------------------------------------------*/
/*SEARCHER*/
.buscador {
    border: 1px;
    border-radius: 5px; /*Customize the level of corner roundness*/
    outline: 1px solid #000;  
    padding: 10px 10px; 
    display: flex; /*Turns the search into a flexible element*/
    text-align: left;
    overflow: hidden; /*Hides any overflowing text*/
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 500px; 
    margin:auto;
}
.botonLupa {
    border-radius: 3px; 
    border: 1px solid black;
    background-color: rgba(12, 135, 173, 0.34);
    font-family: helvetica;
    font-size: 13px;
    margin-right: 10px; 
}
.botonLupa:hover {
    background-color: rgba(25, 58, 142, 0.784);
    color: white;
}
div > input {  /*Puts border transparent*/
    border: none;   
    
}

/*--------------------------------------------------------------------------------*/
/*HORIZONTAL LINE*/
hr { /*For the horizontal line of separation*/
    border: 1px solid #4d4b4b4c; /* Width and color of the line */
    margin: 20px 0; /* Margin superior and inferior */
}

/*----------------------------------------------------------------------------------------*/
/*TITLE*/
.big-title {
    font-size: 27px; 
}

/*----------------------------------------------------------------------------------------*/
/*BOOK ELEMENTS*/
.book-details {
    display: flex; /*DESIGN IN ROW*/
}

.book-image img {
    max-width: 300px;
    height: auto;
}

.book-options-price {
    font-size: 15px;
    font-weight: bold;
    color: rgb(249, 248, 248);
    line-height: 30px;
    background-color: red;
    text-align:center;
    height: auto;
}

/*----------------------------------------------------------------------------------------*/
/*VIEW MORE DESCRIPTION*/
#ver-mas{
    color:blue;
    padding-bottom: 40px;   
}

#ver-mas:hover{
    text-decoration: underline;
}

/*----------------------------------------------------------------------------------------*/
/*BUTTONS OF FRONT-PAGE BOOK*/
.tapa{
    margin-bottom:auto;
    margin-top:auto;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
}

/*----------------------------------------------------------------------------------------*/
/*LABEL OF GENDER AND ISBN*/
.generos {
    padding: 5px;
    background-color: blue;
    color: white;
    align-items:center;
}

.isbn {
    padding: 5px;
    background-color: rgba(225, 233, 58, 0.978);
    color: rgb(0, 0, 0);
    align-items:center;
    margin:5px;
    padding: 10px 20px;
    display: inline-block;
}  
 
/*----------------------------------------------------------------------------------------*/  
/*STYLE FOR THE BUTTON "Añadir al carrito"*/
.compraYa button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.compraYa img {
    margin-right: 10px;
}

.compraYa button:hover { /*Change color when pointing in it*/
    background-color: #555;
}

/*----------------------------------------------------------------------------------------*/
/*STARS PUNCTUATION*/
.rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
  }
  
  .rating label:before {
    content: "\2605";
    margin: 5px;
    font-size: 1.4em;
    color: #ccc;
  }
  
  .rating input:checked ~ label:before {
    color: #ffcc00;
  }

/*----------------------------------------------------------------------------------------*/
/*BOOK RECOMENDATIONS*/
.book { /*Box contorn*/
    font-family: helvetica; 
    font-size: 13px;
    background-color: white;
    border-radius: 5px; 
    border: 1px solid #0000004a;
    width: 170px; /*Dimensions*/
    height: 350px; /*Dimensions*/
    text-align: left;
    cursor: pointer; 
    padding: 9px 9px; 
    white-space: nowrap; /*Avoid text line breaks*/
    overflow: hidden; 
    position: relative; /*Necessary for internal span positioning*/
    margin: 5px;
}

.book span { /*Line between text and image*/  
    position: absolute; 
    width: 170px; 
    height: 1px; 
    background-color: #0000004a; 
    top: 246px;
    left: 0;
}

.bookTitle {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.bookPrice {
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    line-height: 30px;
}

.addToCart {
    color:rgb(0, 0, 255);   
}

.addToCart:hover {
    font-size: 15px;
    color: rgba(0, 106, 255, 0.723);
}
 
/*----------------------------------------------------------------------------------------*/
/*BOOK TECHNICAL ISSUES*/
.ficha-tecnica {
    margin: 0 auto; /*Center elements horizontaly*/
    max-width: 400px; /*Adjust maximum width of screen, to center elements and make it responsive*/
}

.ficha-tecnica th, .ficha-tecnica td { /*Style table (th-> left side, td-> right side)*/
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    position: center;
    align-content: center;
}

.ficha-tecnica th { /*Grey cell (left side)*/
    background-color: #f2f2f2;
}

/*----------------------------------------------------------------------------------------*/
/*OPINIONS*/
.opinion { /*Box contorn*/
    display: inline-block; /*In row*/
    width: 300px; /*To center elements and make it responsive*/
    margin: 10px; /*Space between opinions*/
    border: 1px solid #ddd; 
    padding: 10px; /*Intern spacing*/
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


.opinion img { /*Style for make images round*/
    width: 55px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.opinion h4 { /*Name title*/
    margin: 0; /* Eliminate superior and inferior margins */
}

.opinion input[type="radio"]:checked + label { /*To select the stars*/
    color: gold;
}

/*--------------------------------------------------------------------------------*/
/*REVIEW*/
.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
}

/*Style for placeholder*/
#contact input[type="text"], #contact input[type="email"], #contact textarea, #contact a[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact { /*Grey box*/
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 { /*"Deja tu comentario" style*/
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

* { /*Right margin of the box and small boxes (name, email...)*/
	box-sizing:border-box;
}

fieldset { 
	border: medium none; /*Makes que smal boxes transparent*/
	margin: 0 0 10px;
	padding: 0;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea { /*Adjust small boxes*/
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact textarea { /*Bottom margin for "Escribe aquí tu comentario"*/
	height:100px;
	max-width:100%;
}

/*BUTTONS OF REVIEW*/
.newButton {
    font-family: helvetica;
    font-size: 15px;
    display: flex;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #0000004a;
    color: black;
    background-color: #0000004a;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    flex-direction: column;
}

.newButton:hover {
    background-color: rgba(30, 122, 93, 0.678);
    color: white;
}

/*--------------------------------------------------------------------------------*/
/*FOOTER*/
footer {
    margin-top: 40px;
    background-color: #000;
    padding: 20px;
    color: white
}


@media (max-width: 768px) { /*Adjustment for mobile phones or small screens*/
    
    .book-details { 
        flex-direction: column; 
    }
}


