<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/deleted_libro.css" type="text/css">
</head>

<body>
    <div id="container">
        <div id="success-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face">
                <div class="eye"></div>
                <div class="eye right"></div>
                <div class="mouth happy"></div>
            </div>
            <div class="shadow scale"></div>
            <div class="message">
                <h1 class="alert">Perfectooo!</h1>
                <p>El libro ha sido borrado correctamente.</p>
            </div>

            <a class="button-box" href="/">
               <h1>CONTINUAR</h1>
            </a>
        </div>
    </div>
</body>

</html>